<div class="container">

<h1><%= @product.name %> </h1>
<%= image_tag @product.image %>
<p><%= @product.description %></p>

<%= link_to 'See Reviews', product_reviews_path(@product,@review) %>
<br>

<%= link_to 'Add Review', new_product_review_path(@product,@review) %>
</div>
<br>
<br>
